@using MVCStok_Project.Models.Entity
@model List<Kategoriler_TBL>

@{
    ViewBag.Title = "CategoryList";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<h2> Kategoriler </h2>

<br />

<a href="/Category/AddCategory" class="btn btn-primary"> Yeni Kategori Ekle </a>

<br /><br />

<table class="table table-hover table-bordered">
    <tr>
        <th> ID </th>
        <th> Kategori Adı </th>
        <th> İşlemler </th>
    </tr>
    <tbody>
        @foreach (var item in Model)
            {
                <tr>
                    <td> @item.KategoriID </td>
                    <td> @item.KategoriAd </td>
                    <td>
                        <a class="btn btn-outline-info btn-group" href="/Category/UpdateCategory/@item.KategoriID"> Güncelle </a>
                        <a class="btn btn-outline-danger btn-group" href="/Category/DeleteCategory/@item.KategoriID" onclick="return confirm('Seçili kategoriyi kalıcı silmek istiyor musunuz?')"> Sil </a>
                    </td>
                </tr>
            }
    </tbody>
</table>