@model MVCStok_Project.Models.Entity.Kategoriler_TBL

@{
    ViewBag.Title = "UpdateCategory";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<h2> Kategori Güncelleme </h2>

@using (Html.BeginForm("UpdateCategory", "Category", FormMethod.Post))
{
    <div>
        @Html.HiddenFor(m => m.KategoriID, new { @class="form-control" })
        <br />
        <p class="form-label"> Kategori Adı: </p>
        @Html.TextBoxFor(m => m.KategoriAd, new { @class="form-control" })
        <br />
    </div>
    <div>
        <button class="btn btn-success"> Güncelle </button>
    </div>
}