@model MVCStok_Project.Models.Entity.Musteriler_TBL

@{
    ViewBag.Title = "CustomerAdd";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<h1> Müşteri Ekleme </h1>

<br />

<form method="post">

    <div>
        <label class="form-label"> Müşteri Adı: </label>
        @Html.TextBoxFor(m => m.MusteriAd, new { @class="form-control" })
        @Html.ValidationMessageFor(m => m.MusteriAd, "", new { @style="color:red" })
        <br />
        <label class="form-label"> Müşteri Soyadı: </label>
        @Html.TextBoxFor(m => m.MusteriSoyad, new { @class="form-control" })
        @Html.ValidationMessageFor(m => m.MusteriSoyad, "", new { @style="color:red" })
        <br />
    </div>
    <button class="btn btn-success"> Kaydet </button>

</form>