@using MVCStok_Project.Models.Entity
@model List<Musteriler_TBL>

@{
    ViewBag.Title = "CustomerList";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<h2> Müşteriler </h2>

<br />

@using (Html.BeginForm("CustomerList", "Customer", FormMethod.Get))
{
    <p>
        <b>Aranacak Müşteri: </b> @Html.TextBox("param")
        <input type="submit" value="Ara" />
    </p>
}

<a class="btn btn-primary" href="/Customer/CustomerAdd"> Yeni Müşteri Ekle </a>

<br />
<br />

<table class="table table-hover table-bordered">
    <tr>
        <th> ID </th>
        <th> Müşteri Adı Soyadı </th>
        <th> İşlemler </th>
    </tr>
    <tbody>
        @foreach (var mst in Model)
        {
            <tr>
                <td> @mst.MusteriID </td>
                <td> @mst.MusteriAd @mst.MusteriSoyad </td>
                <td>
                    <a class="btn btn-outline-info btn-group" href="/Customer/UpdateCustomer/@mst.MusteriID"> Güncelle </a>
                    <a class="btn btn-outline-danger btn-group" href="/Customer/DeleteCustomer/@mst.MusteriID" onclick="return confirm('Bu müşteriyi kalıcı silmek istiyor musunuz?')"> Sil </a>
                </td>
            </tr>
        }
    </tbody>
</table>